@import url("./css/_text.css");
@import url("./css/_grid.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url("./css/_margin.css");
@import url("./css/_display.css");
@import url("./css/_button.css");



/* @font-face {
    font-family: "Poppins";
    font-display: auto;
    src: local("Poppins"), url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
} */


/* @font-face {
    font-family: "Poppins";
    font-display: auto;
    src: local("Poppins"), url("./fonts/Poppins/Poppins-Thin.ttf") format("truetype");
	font-weight: thin;
	font-style: normal;
} */


@font-face {
    font-family: "Poppins";
    font-display: auto;
    src: local("Poppins"), url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: "Poppins";
    font-display: auto;
    src: local("Poppins"), url("./fonts/Poppins/Poppins-Light.ttf") format("truetype");
	font-weight: thin;
	font-style: normal;
}


@font-face {
    font-family: "Poppins";
    font-display: auto;
    src: local("Poppins"), url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	
}





:root {
    --tw-bg-opacity: 1;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-text-opacity: 1; 
	--tw-screen-sm: 640px;
	--tw-screen-md: 768px;
	--tw-screen-lg: 1024px;
	--tw-screen-xl: 1280px;
}
/* !!! for same size height and width */
* {
	box-sizing: border-box;
}

html,body{
	min-height:100%;
	position: relative;
}

body{
	height:100%;
}



.shadow-lg {
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.overflow-hidden {
	overflow: hidden;
}

html{
	overflow: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

::-webkit-scrollbar{
	display:none;
}

body {
    /* background-image: url("./double-bubble-outline.png"); */
	background-size: 200px 200px; 
	background-repeat: repeat;
	/* background-image: linear-gradient(#f7f7ff
	, #e7e8fd); */
	background-color: #F3F1F5;
	font-family: 'Poppins';
	margin: 0;
	padding:0;
}

.c-container {
	margin: auto;
	width: 90%;
}

@media screen and (max-width: var(--tw-screen-sm)) {
	.c-container {
		max-width: 640px;
	}
}

@media screen and (max-width: var(--tw-screen-md)) {
	.c-container {
		max-width: 768px;
	}
}

@media screen and (max-width: var(--tw-screen-lg)) {
	.c-container {
		max-width: 1024px;
	}
}

@media screen and (max-width: var(--tw-screen-xl)) {
	.c-container {
		max-width: 1280px;
	}
}





/*  alert */
.alert-card {
    display: flex;
    width: 100%;
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* project-title */
.project-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}



.card-white {
	background-color: #fff;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	border-radius: 0.5rem;
}


.input-container {
    position: relative;
    margin-bottom: 2rem;
  }

.material-input {
    border: 0;
    border-bottom: 2px solid #8743ff;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}

.material-label {
    top: 0;
    left: 0;
    right: 0;
    color: #8743ff;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}

.material-input, .material-label {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
}

.material-input:valid,
.material-input:focus {
    border-bottom: 2px solid #4136f1;  
    outline:none;
}

.material-input:valid + .material-label,
.material-input:focus + .material-label {
    color: #4136f1;
    pointer-events: none;
    font-size: .8rem;
    top: -30px;
}

.modal-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.c-pill {
	color: white;
	font-size: 0.75rem;
	letter-spacing: 0.10rem;
	font-weight: bold;
	height: fit-content;
	width:fit-content;
	padding: 0.5rem 0.5rem;
	text-align: center;
	border-radius: 25px;
	background-color: #4136f1 ;
}

.c-pill:hover {
	opacity: 0.8;
}


