:root {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-color: rgba(165, 180, 252, 1);
    --tw-ring-opacity: 0.8;
}

.c-btn-primary {
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: rgba(79, 70, 229, 1);
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
    outline: 0;
    font-size: 0.5em;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    font-weight: 600;
    text-align: center;
    font-size: 0.85em;
    padding: 0.85em 1.75em 0.85em 1.75em;
    cursor: pointer;
    
}

.c-btn-primary:hover {
    background-color: rgba(139, 92, 246, 1);
}

.c-btn-primary-outline {
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    color: rgba(79, 70, 229, 1);
    background: #fff ;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid rgba(79, 70, 229, 1);
    outline: 0;
    font-size: 0.5em;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    font-weight: 600;
    text-align: center;
    font-size: 0.85em;
    padding: 0.85em 1.75em 0.85em 1.75em;
    cursor: pointer;
    
}

.c-btn-primary-outline:hover {
    background-color: rgba(79, 70, 229, 1);
    color: #fff;
}

.c-btn-danger {
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: rgb(220,98,128);
    color: #fff;
    border: 0;
    text-transform: uppercase;
    border-radius: 4px;
    outline: 0;
    font-size: 0.5em;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    font-weight: 600;
    text-align: center;
    font-size: 0.85em;
    padding: 0.85em 1.75em 0.85em 1.75em;
    cursor: pointer;
    
}

.c-btn-danger:hover {
    background-color: rgb(194, 41, 79);
}

.c-btn-danger-outline {
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: #fff;
    color:rgb(220,98,128);
    border: 1px solid rgb(220,98,128);
    text-transform: uppercase;
    border-radius: 4px;
    outline: 0;
    font-size: 0.5em;
    box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
    font-weight: 600;
    text-align: center;
    font-size: 0.85em;
    padding: 0.85em 1.75em 0.85em 1.75em;
    cursor: pointer;
    
}

.c-btn-danger-outline:hover {
    background-color: rgb(220,98,128,1);
    color: #fff;
}

.general-button {

    width: 140px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    /* text-transform: uppercase; */
    letter-spacing: 1.0px;
    font-weight: 500;
    color: #000;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.212);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.general-button:hover {
    background: linear-gradient(180deg, #8743FF 0%, #4136F1 100%);
    box-shadow: 0px 15px 20px rgba(136, 67, 255, 0.425);
    color: #fff;
    transform: translateY(-7px);
}

